.user-cell {
    width: 274px;
    margin: 30px 15px;
    height: 274px;
    overflow: hidden;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    outline: none;
    text-align: center;

    &:active {
        opacity: 0.7;
    }

    .avatar {
        height: 220px;
    }

    .username {
        padding: 10px;
    }
}